@inherits LayoutComponentBase

<div class="page bg-white min-vh-100">
    <main class="pb-5">
        @Body
    </main>
</div>


<style>
    .page {
        background: white;
        min-height: 100vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>
